.container1{
    width: 100%;
    display: flex;   
}

.left {
  width: 57%;
  height: 759px;
  background: linear-gradient(to left, #070C10, #19354D);
  padding-top: 66px;
  /* padding-left: 124px; */
}

.fs {
     display: flex;
    gap: 11px;
    align-items: center;
    color: white;
    margin-left:124px;
}

.line{
    display: inline-block;
    width: 37px;
    height: 3px;
     background-color: white;
   border-radius: 2px;
   align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 105px;
    margin-left:90px;
    gap: 63px;
}

.box p{
    width: 482px;
    height: 88px;
    font-family:  Helvetica;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
}


.box1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 130px;
    margin-left: 98px;
    margin-top: 277px;
    color: white;
}

.box1 p{
    margin-top: 20px;
    margin-left: -30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 18px;
    letter-spacing: 0%;
    font-weight: 400;
    line-height: 100%;

}



.box3{

    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 54px;
    height: 40px;

}

.right{
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-top:140px;
  margin-left: 81px;
}

.r1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.r1 p{
    width: 423px;
    height: 143;
    font-size: 18px;
    font-style: Regular;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 100%;
}


.pb{
  width: 95%;
  margin-top: 10px;
  display: flex;
  
  box-sizing: border-box;
  padding: 10px 0;
  border: 1px solid gray;
  outline: none;
  border-radius: 7px;
}

.passwordBox{
    margin-top: -100px;
}

.pb1{
  width: 90%;

  display: flex;
  gap: 10px;
  
}

.pb1 input{
  width: 95%;
  border: none;
  outline: none;
}

.icon {
  margin-left: 10px;
}
.btn {
  margin-right: 40px;
  cursor: pointer;
}




.r1 p{
    width: 423px;
    height: 143;
    font-size: 18px;
    font-style: Regular;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 100%;
}
/* 
/* .boxes{
    /* display: flex;
    background-color: aquamarine;
     width: 434px;
    height: 58px;
    border-radius: 4px; */

.boxes1{
        display: flex;
        justify-content: space-between; 
        margin-top: -70px;
     width: 434px;
    height: 58px;
    border-radius: 4px;
    text-align: center;
    align-items: center;

}


.boxes1 input{
    width: 59px;
    height: 58px;
    border: 1px solid gray;
     text-align: center;
  font-size: 20px;

}


.line1{
    display: flex;
    gap: 5px;
    margin-top: 8px;
}


.a{
    display: inline-block;
   width: 98px;
   height: 4px;
   background-color: green;
   border-radius: 2px;
   align-items: center;
}
.a1{
    display: inline-block;
   width: 98px;
   height: 4px;
   background-color: green;
   border-radius: 2px;
   align-items: center;
}

.a2{
    display: inline-block;
   width: 98px;
   height: 4px;
   background-color: green;
   border-radius: 2px;
   align-items: center;
}

.a3{
    display: inline-block;
   width: 98px;
   height: 4px;
   background-color: green;
   border-radius: 2px;
   align-items: center;
}


.pbb{
  width: 95%;
  margin-top: 10px;
  display: flex;
  
  box-sizing: border-box;
  padding: 10px 0;
  border: 1px solid gray;
  outline: none;
  border-radius: 7px;
}



.pbb1{
  width: 90%;

  display: flex;
  gap: 10px;
  
}

.pbb1 input{
  width: 95%;
  border: none;
  outline: none;
}

.icon1 {
  margin-left: 10px;
}



.btn1{

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
   margin-top: -20px;

}

.butn{
     margin-top: 10px;
  width: 95%;
 height: 54px;
 border: 1px solid rgba(40, 126, 201, 1) ;
 border-radius: 6px;
    background-color: rgba(40, 126, 201, 1);
    color: white;

}

.ac{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 100px;
}



